asgiref
certifi
chardet
coreapi
coreschema
dataclasses
Django
django-cacheops
django-cleanup
django-cors-headers
django-cors-middleware
django-filter
django-oauth-toolkit
djangorestframework
djangorestframework-jwt
drf-yasg
funcy
idna
inflection
isapi-wsgi
itypes
Jinja2
MarkupSafe
nose
oauthlib
packaging
Pillow
ply
psycopg2
Pygments
PyJWT
pymongo
pyparsing
python-dateutil
pytz
PyYAML
redis
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
shortuuid
six
sqlparse
uritemplate
urllib3
